<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008125253045-utsrtdm1r0358rf0bao1pfdd2a29hno7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008125253045-utsrtdm1r0358rf0bao1pfdd2a29hno7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1008125253045-v473jtm94p9e000g9fv8kblgr2a45llf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALUqt8tAp93S8f4WzptE7Rrr5OXPvndyE</string>
	<key>GCM_SENDER_ID</key>
	<string>1008125253045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devusama.FriendVerifier</string>
	<key>PROJECT_ID</key>
	<string>friends-verifier</string>
	<key>STORAGE_BUCKET</key>
	<string>friends-verifier.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008125253045:ios:97988d764e6d04066e35fc</string>
</dict>
</plist>